.idea/
phyloRNN/__pycache__/
phyloRNN/ali_tmp/
.DS_Store
/.devbox/
/.venv/
/phyloRNN.egg-info/
/data/Chr1.WGAlign.FromBam.Filtered.fasta
/data/Trained_models.zip
/243_22562_180-pycharm-support-libs/
/.ipynb_checkpoints/
/nohup.out
/data/test_data.npz
/data/training_data.npz
/data/
/devbox.lock
/logs/
/build/
/dist/
/scripts/.ipynb_checkpoints/
